body {
  background: white;
  padding :100px;
}

/* Rectangle 3: */
.button1 {
background: rgba(100,0,255,0.3);
border: 1px solid #FFF;
border-radius: 2px;
font-family: Helvetica;
font-weight: lighter;
font-size: 20px;
padding: .7em 1.2em;
color: black;
text-decoration: none;
}

.button1:hover {
  background: rgba(255,100,,0.5);
}


.circleborder {
  /* oval3: */
  background: rgba(24,24,24,0.05);
  border: 1px solid #181818;
  border-radius: 50%;
  /*float: left;*/
  height: 10.35em;
  width: 10.35em;
  margin: 0 auto;
}

.getpayed {
   background-image: url(payment7.png);
   background-position: center center;
height: 500px;
width: 500px;
transform: scale(.2);
}
